<br>
<h3> Employee Sign Up </h3>

<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <div class="login_button">
        Login
      </div>
    </div>
    <div class="col-xs-4">
      <div class="login_button">
        Sign Up
      </div>
    </div>
  </div>
</div>
<br>
<form>
  First name:<br>
  <input type="text" name="firstname"><br>
  Last name:<br>
  <input type="text" name="lastname">
  <br>
  E-mail:<br>
  <input type="text" name="e-mail">
  <br>
  <input type="radio" name="gender" value="male" checked> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
  <input type="radio" name="gender" value="other"> Other
  <input type="text" name="gender_text">
  <br>
  <br>
  <button type="submit" class="save_btn_signup"> Submit </button>
</form>
