{% load staticfiles %}

{% include 'suwapp/header.html' %}
<br>
<h3> Where do they stack up? </h3>
  <ol>
    <li> <h4>Google</h4> <br> Close the Gap Score: 90%</li>
    <li> <h4>Amazon</h4> <br> Close the Gap Score: 85%</li>
    <li> <h4>Zappos</h4> <br> Close the Gap Score: 80%</li>
    <li> <h4>InsideTrack</h4> <br> Close the Gap Score: 75%</li>
    <li> <h4>Jaguar/Land Rover</h4> <br> Close the Gap Score: 90%</li>
  </ol>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at lectus vitae mi dapibus mattis sed et turpis. Proin nisi ligula, faucibus tristique posuere id, gravida sed dui. Nam commodo justo ac porttitor posuere. Etiam blandit, dui a vulputate congue, nibh nisi imperdiet est, quis tincidunt ipsum orci a leo. Aenean tincidunt eros quis vehicula luctus. Nulla commodo lectus sed lorem faucibus, non interdum est facilisis. Nulla facilisi. Curabitur a cursus metus.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at lectus vitae mi dapibus mattis sed et turpis. Proin nisi ligula, faucibus tristique posuere id, gravida sed dui. Nam commodo justo ac porttitor posuere. Etiam blandit, dui a vulputate congue, nibh nisi imperdiet est, quis tincidunt ipsum orci a leo. Aenean tincidunt eros quis vehicula luctus. Nulla commodo lectus sed lorem faucibus, non interdum est facilisis. Nulla facilisi. Curabitur a cursus metus.
  </p>
  <br>
<h3> Login </h3>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <div class="button">
        Employee
      </div>
    </div>
    <div class="col-xs-4">
      <div class="button">
        Employer
      </div>
    </div>
  </div>
</div>


{% include 'suwapp/footer.html' %}
